p {
  font-size: 1rem;
}

.cta-btn {
  text-decoration: none;
  padding: .8rem 2rem;
  background: #f25f3a;
  color: #ffffff;
  font-weight: 600;
  font-size: .8rem;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 15px -8px #f25f3a;
          box-shadow: 0px 10px 15px -8px #f25f3a;
}

.cta-btn.invert {
  color: #f25f3a;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px -13px #000000;
          box-shadow: 0px 5px 15px -13px #000000;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
}

.desktop {
  display: none;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.container .nav {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
}

.container .nav .logo {
  height: 100;
  display: inline-block;
}

.container .nav .logo img {
  width: 85%;
  vertical-align: middle;
}

.container .intro {
  position: relative;
  width: auto;
  height: auto;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container .intro .top-bg-pattern img {
  position: absolute;
  width: 100%;
  top: -150px;
  right: -70px;
  z-index: -1;
}

.container .intro .btm-bg-pattern img {
  position: absolute;
  width: 70%;
  bottom: -70px;
  right: -120px;
  z-index: -1;
}

.container .intro .intro-text {
  text-align: center;
}

.container .intro .intro-text h1 {
  font-weight: 700;
  color: #242d52;
  line-height: 1.3;
  font-size: 2.2rem;
  margin: 0;
}

.container .intro .intro-text p {
  color: #9095a7;
  font-weight: 300;
  padding: 0 .5rem;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.container .intro .intro-graphic {
  position: relative;
  width: 100%;
  height: auto;
}

.container .intro .intro-graphic img {
  width: 100%;
}

.container .info {
  width: auto;
  height: auto;
  padding: 0 2rem;
  margin-top: 4.5rem;
}

.container .info .info-text {
  text-align: center;
  line-height: 1.7;
}

.container .info .info-text h2 {
  color: #242d52;
  padding: 0 2rem;
  margin-bottom: 0;
  font-size: 1.7rem;
}

.container .info .info-text p {
  color: #9095a7;
  font-weight: 300;
  line-height: 2;
  font-size: 14px;
}

.container .label-container {
  margin-top: 4rem;
}

.container .label-container .label-two, .container .label-container .label-three {
  margin-top: 3rem;
}

.container .label-container .label {
  width: 100%;
  height: auto;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .label-container .label .label-number {
  position: absolute;
  background-color: #f25f3a;
  width: 40px;
  text-align: center;
  padding: 4px 10px;
  border-radius: 25px;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.container .label-container .label .label-number p {
  margin: 2px;
  vertical-align: middle;
}

.container .label-container .label .label-attribute {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #ffefeb;
  padding: 5px 0;
  text-align: center;
}

.container .label-container .label .label-attribute p {
  font-weight: 700;
  margin: 0px 0px 0px 15px;
}

.container .label-container .label-text {
  padding: 0 1rem;
}

.container .label-container .label-text p {
  color: #9095a7;
}

.profile-card {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 2.5rem;
}

.profile-card .profile-card-title h1 {
  color: #242d52;
}

.profile-card .profile-card-bio {
  padding: 0 3rem;
  margin: 4rem 0 2rem 0;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.profile-card .profile-card-bio .card-two, .profile-card .profile-card-bio .card-three, .profile-card .profile-card-bio .card-four {
  display: none;
}

.profile-card .profile-card-bio .profile-img {
  width: 25%;
}

.profile-card .profile-card-bio p {
  color: #9095a7;
  font-weight: 300;
  min-width: 290px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
}

.profile-card .profile-card-state {
  margin-bottom: 2rem;
}

.profile-card .profile-card-state .bubble {
  height: 5px;
  width: 5px;
  border: 1px solid #f25f3a;
  border-radius: 25px;
  display: inline-block;
}

.profile-card .profile-card-state .bubble.active {
  height: 5px;
  width: 5px;
  border: 1px solid #f25f3a;
  border-radius: 25px;
  display: inline-block;
  background-color: #f25f3a;
}

.banner {
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #f25f3a;
  padding: 3rem 0;
}

.banner .banner-content {
  width: auto;
  padding: 0 2rem;
}

.banner .banner-content h2 {
  color: white;
  margin-top: 0;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.3;
}

.footer {
  width: auto;
  height: auto;
  padding: 3rem 1rem .5rem 1rem;
  background-color: #1d1e25;
}

.footer .grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "email" "sitemap" "social" "logo" "copy";
  text-align: center;
}

.footer .grid .social {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: social;
}

.footer .grid .social .social-icons img {
  width: 9%;
  padding: 0 15px;
}

.footer .grid .logo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: logo;
}

.footer .grid .email {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: email;
}

.footer .grid .email form {
  height: 40px;
  width: auto;
}

.footer .grid .email form input {
  height: 100%;
  width: 60%;
  outline: none;
  border: none;
  border-radius: 50px;
  padding: 0 0 0 2rem;
  margin-right: 10px;
}

.footer .grid .email form button {
  cursor: pointer;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: #f25f3a;
  color: #ffffff;
  height: 100%;
  width: 75px;
}

.footer .grid .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sitemap;
  text-align: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.footer .grid .sitemap .sitemap-link-l a, .footer .grid .sitemap .sitemap-link-r a {
  display: block;
  padding: .4rem 0;
  text-decoration: none;
  color: #ffffff;
}

.footer .grid .copy {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: copy;
}

.footer .grid .copy p {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */